.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: calc(100vh - 56px);
    overflow-y: auto;
    margin-top: 56px;
    padding: 1rem;
}

.card h2 {
    font-weight: 600;
    letter-spacing: -0.025rem;
    font-size: 1.5rem;
    white-space: nowrap;
    margin: 0;
}
.card h4 {
    font-size: 0.875rem;
    
    color: rgb(110, 110, 110);
    margin: 0;
}

.card .card-energyConsumed {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}
.card .card-energyConsumed h2 {
    
}
.card .card-energyConsumed h4 {
    
}


.card .card-costPrice {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}


.card .card-devicesConnected {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}


.card .card-eletricityUsage {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}

.card .card-eletricityUsage div#eletricityUsageGraph {
    
}


.card .card-card-deviceCosts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}

.btn-deviceRegister {
    color: #FFF;
    background-color: #482A9E;
    
    transition: all ease-in-out 150ms;
}
.btn-deviceRegister:hover {
    color: #FFF;
    background-color: #272561;
}
.btn-deviceRegister:active {
    color: #FFF !important;
    background-color: #211f53 !important;
}