div.fundo{
    background-color: #482A9E;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo{
    display: flex;
    width: 60px;
    margin-left: 40px;
}

.container#autenticacao {
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    /*margin-top: 130px;*/
    background-color: #ffffff;
    border-radius: 20px;
}

.form-image#autenticacao {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-image#autenticacao img {
    width: 31rem;
}

.form#autenticacao {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #482A9E;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #482A9E;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header#autenticacao h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #482A9E;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    
}



.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 10px;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box input::placeholder {
    color: #000000be;
}


.continue-button#autenticacao button {
    width: 100%;
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
    margin-top: 2.5rem;
    border: none;
    background-color: #482A9E;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button#autenticacao button:hover {
    background-color: #6b63fff1;
}

.continue-button#autenticacao button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}