.cards{
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}

.nomeeletronico{
    width: 260px;
    display: inline-block;
}

.watts{
    width: 150px;
    display: inline-block;
}

.horas{
    width: 200px;
    display: inline-block;
}

.add{
    width: 100px;
    display: inline-block;
}

.excluir{
    width: 200px;
    display: inline-block;
}

main {
    padding-top: 1rem;
}

main.container {
    height: 100vh;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
}
main.container button:nth-child(1) {
    background-color: #3A3781;
}
main.container button:nth-child(1):hover {
    background-color: #482A9E;
}
main.container button:nth-child(1):active {
    background-color: #482A9E;
}

main #devices {
    border: 1px solid rgba(78, 78, 78, 0.692);
    box-shadow: 0 .4rem .8rem #0005;
    flex: 1;
}

main #devices div#devices-head {
    border: none;
    background-color: #482A9E;
}
main #devices div#devices-head div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 4px;
    border-right: 1px solid rgba(78, 78, 78, 0.692);
    width: 25%;
}
main #devices div#devices-head div:nth-child(3) {
    width: 12.5%;
}
main #devices div#devices-head div:nth-child(4) {
    width: 12.5%;
}
main #devices div#devices-head div:last-child {
    border-right: none;
}

main #devices div#devices-body {
    height: 100%;
    position: relative;
}

main #devices .device-status {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
}
main #devices .device-status.loading {
    display: flex;
}


main #devices div.device-item {
    display: flex;
    
    border-top: 1px solid rgba(78, 78, 78, 0.692);
}
main #devices div.device-item:last-child {
    border-bottom: 1px solid rgba(78, 78, 78, 0.692);
}
main #devices div.device-item#device-template {
    display: none;
}
main #devices div.device-item div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    padding: 10px 4px;
    border-right: 1px solid rgba(78, 78, 78, 0.692);
}
main #devices div.device-item div span {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 150ms;
}
main #devices div.device-item div span:hover {
    cursor: pointer;
}
main #devices div.device-item div span svg {
    fill: #111;
    transition: all ease-in-out 150ms;
}
main #devices div.device-item div span:hover svg {
    color: #482A9E !important;
    fill: #482A9E !important;
    scale: 1.1;
}
main #devices div.device-item div:nth-child(3) {
    width: 12.5%;
}
main #devices div.device-item div:nth-child(4) {
    width: 12.5%;
}
main #devices div.device-item div:last-child {
    border-right: none;
}

.modal-body {
    position: initial;
}

.modal-body #updateModalStatus {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 30;
}
.modal-body #updateModalStatus.loading {
    display: flex;
}
.modal-body button {
    background-color: #482A9E;
    transition: all ease-in-out 150ms;
}
.modal-body button:hover {
    background-color: #3A3781;
}


ul.pagination a {
    color: #482A9E;
    font-weight: bold;
}
ul.pagination a:focus {
    box-shadow: 0 0 0 .2rem rgba(57, 55, 129, 0.4);
}
ul.pagination a:hover {
    color: #3A3781;
}

.pagination-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.pagination-info span {
    color: #482A9E;
    font-size: 20px;
}
.pagination-info input {
    max-width: fit-content;
    text-align: center;
    padding: 8px !important;
}
.pagination-info input:focus {
    box-shadow: 0 0 0 .2rem rgba(57, 55, 129, 0.4);
    border-color: #3A3781;
}
ul.pagination li.active a {
    background-color: #3A3781 !important;
    color: #FFF !important;
}

ul.pagination {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}