.cards{
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}

.nomeeletronico{
    width: 260px;
    display: inline-block;
}

.watts{
    width: 150px;
    display: inline-block;
}

.horas{
    width: 200px;
    display: inline-block;
}

.add{
    width: 100px;
    display: inline-block;
    margin-left: 20px;
}

.excluir{
    width: 200px;
    display: inline-block;
}

main.table {
    width: 82vw;
    height: 80vh;
    background-color: #fff5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    padding-top: 30px;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
}

main h1{
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    margin-left: 40px;
    margin-top: 10px;
}



.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #ffffff;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}


table {
    width: 100%;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #1c1c1c;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}



.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}