.container-sobre {
    height: 100%;
    display: flex;
    background-color: #482A9E;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.sobre img {
    width: 23%;
    display: flex;
    margin: 0 auto;
}