
/* parte do card do login */
@media screen and (max-width: 1330px) {
    .form-image#autenticacao {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .form-image#autenticacao img {
        width: 11rem;
    }

    .container#autenticacao {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

}

@media screen and (max-width: 1020px) {
    .form-image#autenticacao {
        width: 50%;
        display: flex;
    }

    .container#autenticacao {
        width: 80%;
        height: 90%;
        margin-top: 60px;
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }

}

/* --------------------------- Tela de registro ------------------------------------------------ */

@media screen and (max-width: 1330px) {    
        
}

@media screen and (max-width: 1020px) {
    .register-image#autenticacao img{
            display: none;
        }
    .containercadastro#autenticacao {
             width: 80%;
             height: 90%;
             --bs-gutter-x: 0;
             --bs-gutter-y: 0;
         }
}

/* --------------------------- nav-bar ------------------------------------------------ */


@media screen and (max-width: 1064px) {
  .nav {
      padding-left: 220px;
      padding-right: 220px;
  }

  .nav ul {
      margin: 0;
      display: flex;
      flex-direction: column;
      margin-left: 0;
      position: absolute;
      gap: 0;
      top: 80px;
      width: 100vw;
      height: calc(100vh - 80px);
      left: -100vw;
      border-top: 1px solid #7A3FA3;
      background-color: rgba(0, 0, 0, 0.6);
      transition: all ease-in-out 200ms;
  }
  }


  /* ----------------------------- Tela contato---------------------------------*/
  
@media screen and (max-width: 1442px) {
    .container#contato {
            width: 70%;
            height: 70vh;
            display: flex;
            --bs-gutter-x: 0;
            --bs-gutter-y: 0;
        }

    .info{
        width: 50%;
            height: 100%;
            display: flex;
            background-color: #482A9E;
            margin-right: 300px;
            border-radius: 20px;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.1rem;
        margin-left: -226px;
        margin-right: 100px;
    }

    .continue-button#contato button {
        margin-right: 300px;
        margin-left: -200px;
        position: relative;
    }
    .form-image#contato img {
        width: 0rem;
    }
}

@media screen and (max-width: 1064px) {
.container#contato {
        width: 70%;
        height: 70vh;
        display: flex;
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }

    .info {
        width: 50%;
        height: 100%;
        display: flex;
        background-color: #482A9E;
        margin-right: 300px;
        border-radius: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.1rem;
        margin-left: -226px;
        margin-right: 100px;
    }

    .continue-button#contato button {
        margin-right: 300px;
        margin-left: -200px;
        position: relative;
    }

    .form-image#contato img {
        width: 0rem;
    }
}

/*--------------Tela de sobre-----------------------*/
@media screen and (max-width: 1062px) {
    .sobre{
            margin-top: 50px;
            overflow-y: scroll;
        }
}


/*--------------Tela de produto-----------------------*/

@media screen and (max-width: 1330px) {
.cards {
        display: flex;
        align-items: center;
        justify-content: center;
    }
.add {
    position: relative;
}

.excluir {
    position: absolute;
}

}

@media screen and (max-width: 1020px) {

.produtosback{
    overflow-y: scroll;
}

.cards {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add {
        position: relative;
        margin-top: 10px;
    }
    .excluir {
        position: absolute;
        margin-top: 10px;
    }

}